body{
    margin: 0;
    padding: 0;
}

.sizer{
    margin-top: 30vh;
    height: 40vh;
    width: 30vh;
    background-color: black;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: dimgrey;
    border-radius: 15px;
    color: orange;
    height: 70px;
    border: none;

}
.sizer:hover{
    cursor: crosshair;
}

.boutons{
    margin-bottom: 15px;
    margin-top: 25px;
    padding-left: 7px;


}

.bouton{
    border: orange 2px solid;
    background-color: orange;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    width: 55px;
    height: 40px;
}



.bouton:hover{
    border: orangered 2px solid;
    background-color: orangered;

}